@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  @include setReset;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
}

a,
a:active {
  text-decoration: none;
  transition: .3s;
}

ul {
  list-style: none;
}